<div class="flex">
<aside class="md:w-75 h-screen">
    <div class="p-4">
        <img src="assets/img/logo.svg" alt="" class="w-40">
    </div>

    <nav class="flex flex-col p-4">
        <a  [routerLink]="['/admin/productos']" class="font-bold text-lg">Productos</a>
        <a  [routerLink]="['/admin/ordenes']" class="font-bold text-lg">Ordenes</a>
    </nav>
    <div class="my-5 px-5">
        <button type="button" (click)="cerrarcesion()" class="text-center w-full bg-red-500 p-3 font-bold text-white truncate" >
            Cerrar session
        </button>
    </div>
</aside>
<main class="flex-1 h-screen overflow-y-scroll bg-gray-100 p-3">
<router-outlet></router-outlet>
</main>
</div>