<aside class="md:w-72">

    <div class="p-4">
        <img src="assets/img/logo.svg" alt=""
        class="w-40"
        >
        <p class="my-10 text-xl text-center">Hola : {{ usuario |uppercase }}</p>
    </div>
<div class="mt-10" *ngFor="let categoria of categorias">    
<div  class="flex items-center gap-4 border w-full p-3 hover:bg-amber-400 cursor-pointer" (click)="CategoriaId(categoria.id)">
    <img [src]="'assets/img/icono_'+categoria.icono+'.svg'" alt="" class="w-12">
    <p class="text-lg font-bold cursor-pointer truncate">{{ categoria.nombre }}</p>
</div>
</div>

<div class="my-5 py-5">
<button type="button" class="text-center w-full bg-red-500 p-3 font-bold text-white truncate" (click)="logout()">
    Cancelar orden
</button>
</div>
</aside>